html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
}

body {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header header"
    "figure figure";
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  grid-area: figure;
}

figure {
  margin: 0;
  padding-top: .5em;
}

.pano {
  position: relative;
  grid-column: 1/ -1;
  grid-row: 1/ -1;
}

.logo {
  grid-column: 1;
  grid-row: 2;
  width: 14rem;
  z-index: 1;
}

nav {
  position: absolute;

}

nav ul {
  list-style-type: none;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav a {
  font-family: Goergia, serif;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin: 0;
  padding-top: 1rem;
}

figure p {
  margin: 0;
  padding-top: 1rem;
  line-height: 1.5;
}
